h1,h2{
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    color: black;
    mix-blend-mode: screen;
    text-align: center;
    font-family: 'Abril Fatface';
    font-weight: bold;
    font-size:300%;
}

h2{
    
    font-size: 200%;
}

nav{
    margin: auto 0 0 0;
}

a{
    margin-inline: 1%;
    font-size: 110%;
    font-family: 'Abril Fatface';
    background-color: white;
    color:rgb(11, 63, 32);
    border-radius: 20%;
    text-decoration: none;
    
}

a:hover{
    background-color: rgb(185, 185, 185);
}

a:visited{
    color:rgb(11, 63, 32);
}

nav p{
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}

p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: rgb(11, 63, 32);
    background-color: rgb(209, 209, 209);
}
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    background-color: #0d1014;
    background-image: url("fondo2.jpg");
    background-position:center;
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
}


section{
    margin: auto 0 auto 0;
    color: white;
}
.grid1{   
    grid-column: 1/1;
    grid-row: 1/1;
    
}

.grid1 h1{
    border-radius: 50px 0px 0px 0px;
    border: 1px solid black;
}

.grid1 h2{
    padding: 15px;
    border: 1px solid black;
}
.grid2{
    grid-column:2/2;
    grid-row:2/3;
    border: 1px solid black;
}

.grid2 p{
    padding: 20px;
}

.grid3{
    grid-column: 3/3;
    grid-row:1/2;
    border: 1px solid black;
}
.grid3 p{
    padding: 11px;
}
.grid3 h2{
    border-radius: 0px 50px 0px 0px;
}

.grid4{
    margin: 13.5% 0% 0% 0%;
    grid-column:2/3;
    grid-row:1/1;
}

.grid5{
    grid-column: 3/3;
    grid-row: 2/2;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 50px 0px;
    border: 1px solid black;
}

h6{
    color: rgb(187, 187, 187);
    font-family: "Paytone One";
    text-shadow: 0 13.36px 8.896px #0dce4d, 0 -2px 1px rgb(2, 2, 2);
    border-radius: 10% 20%;
    margin: 10% auto auto auto;
    padding: 0;
    font-size: 150%;
    text-align: center;
    grid-column: 1/1;
    grid-row: 2/2;
    justify-self: stretch;
}
